:root {
    --bg-color: #fff;
    --text-color: #222;
    --card-bg: #f9f9f9;
    --accent: #d32f2f;
  }

  body {
    font-family: 'Poppins', sans-serif;
    background-color: #0f0101; 
    color: #222;           
    margin: 0;
    padding: 0;
  }

  header {
    text-align: center;
    background: #d32f2f;
    color: white;
    padding: 25px 10px;
  }

  header h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    margin: 0;
  }

  .tagline {
    font-size: 1.2rem; 
    font-style: italic;
  }


  .menu {
    text-align: center;
    padding: 40px 20px;
  }

  .menu h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: white;
  }

  .menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
  }

  .menu-item {
    background: var(--card-bg);
    border-radius: 14px;
    padding: 15px;
    transition: transform 0.3s;
  }

  

  .menu-img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
  }

  .add-cart-btn {
    background: var(--accent);
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background 0.3s;
  }

  

  footer {
    text-align: center;
    background: var(--accent);
    color: white;
    padding: 15px;
    font-size: 0.9rem;
  }
  nav {
            background-color: #0e1329;
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
           
        }

        nav h1 {
            color: white;
            margin: 0;
        }

        nav a {
            color: white;
            text-decoration: none;
            margin: 0 15px;
            font-size: 18px;
            margin-right: 50px;
        }

        nav a:hover {
            text-decoration: underline;
        }

        .reviews {
    background-color: #121111;
    padding: 40px 20px;
    
    }

    .reviews h2 {
      color: #f9f7f7;
        text-align:center; 
        font-family: 'Dancing Script', cursive; 
        font-size:2.2rem; 
        margin-top:40px;
    }

    .review-card {
      
        background-color: var(--card-bg);
        padding: 15px;
        border-radius: 12px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    .reviews-grid {
      display:grid; 
      grid-template-columns:repeat(auto-fit, minmax(250px,1fr)); 
      gap:20px; 
      padding:20px;
       
    }
